<div class="container ec-navbar-top">
    <div class="ec-navbar-logo">
        <a href="/Home/Index">Alışveriş Sitesi</a>
    </div>
    <div class="ec-navbar-search-area">
        <input type="text" placeholder="Ürün, kategori veya marka ara" class="ec-navbar-search">
    </div>
    <div class="ec-navbar-right">
        <div class="ec-user-menu">
            <a href="/Account/Login" class="ec-nav-item">Giriş Yap</a>
            <div class="ec-user-dropdown">
                <a href="/Account/Login" class="ec-btn-login ec-account">Giriş Yap</a>
                <a href="/Account/Register" class="ec-btn-register ec-account">Kayıt Ol</a>
            </div>
        </div>
        <a href="/Cart/" class="ec-nav-item">🛒 <span>Sepetim</span></a>
    </div>
</div>
<div class="ec-navbar-bottom">
    <div class="container">
        <ul class="ec-categories">
            <li class="ec-cat-all">☰ Kategoriler</li>
            <li><a href="#">Kadın</a></li>
            <li><a href="#">Erkek</a></li>
            <li><a href="#">Anne & Çocuk</a></li>
            <li><a href="#">Ev & Yaşam</a></li>
            <li><a href="#">Süpermarket</a></li>
            <li><a href="#">Kozmetik</a></li>
            <li><a href="#">Ayakkabı & Çanta</a></li>
            <li><a href="#">Elektronik</a></li>
            <li><a href="#">Spor & Outdoor</a></li>
            <li><a href="#">Çok Satanlar</a></li>
        </ul>
    </div>
</div>