<div class="row g-3">
    <div class="col-md-6">
        <div id="ecCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <a href="#">
                        <img src="https://www.eurekosigorta.com.tr/blog/wp-content/uploads/2024/11/unesco.jpg"
                             class="d-block w-100 ec-slider-img">
                    </a>
                </div>
                <div class="carousel-item">
                    <a href="#">
                        <img src="https://via.placeholder.com/600x300/ff6000/ffffff"
                             class="d-block w-100 ec-slider-img">
                    </a>
                </div>
                <div class="carousel-item">
                    <a href="#">
                        <img src="https://via.placeholder.com/600x300/333/ffffff" class="d-block w-100 ec-slider-img">
                    </a>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#ecCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#ecCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row g-3">

            <div class="col-md-6">
                <a href="#" class="ec-ad-card">
                    <img src="https://www.eurekosigorta.com.tr/blog/wp-content/uploads/2024/11/unesco.jpg"
                         class="w-100">
                </a>
            </div>
            <div class="col-md-6">
                <a href="#" class="ec-ad-card">
                    <img src="https://via.placeholder.com/300x140/ff6000/fff" class="w-100">
                </a>
            </div>
            <div class="col-md-6">
                <a href="#" class="ec-ad-card">
                    <img src="https://via.placeholder.com/300x140/333/fff" class="w-100">
                </a>
            </div>
            <div class="col-md-6">
                <a href="#" class="ec-ad-card">
                    <img src="https://via.placeholder.com/300x140/999/fff" class="w-100">
                </a>
            </div>
        </div>
    </div>
</div>