<div class="container mt-4">
    <div class="row g-4">
        <div class="col-md-8">
            <div class="ec-cart-table">
                <div class="ec-cart-head">
                    <div>Ürün</div>
                    <div>Fiyat</div>
                    <div>Adet</div>
                    <div>Toplam</div>
                    <div></div>
                </div>
                <div class="ec-cart-row">
                    <div class="ec-product">
                        <img src="https://picsum.photos/80">
                        <span>Spor Ayakkabı Günlük Kullanım</span>
                    </div>
                    <div class="ec-price">699 TL</div>
                    <div class="ec-qty">
                        <button>-</button>
                        <input type="text" value="1">
                        <button>+</button>
                    </div>
                    <div class="ec-total">699 TL</div>
                    <div class="ec-remove">✕</div>
                </div>
                <div class="ec-cart-row">
                    <div class="ec-product">
                        <img src="https://picsum.photos/81">
                        <span>Kablosuz Kulaklık</span>
                    </div>
                    <div class="ec-price">499 TL</div>
                    <div class="ec-qty">
                        <button>-</button>
                        <input type="text" value="2">
                        <button>+</button>
                    </div>
                    <div class="ec-total">998 TL</div>
                    <div class="ec-remove">✕</div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="ec-summary-card">
                <h5>Sipariş Özeti</h5>
                <div class="ec-summary-row">
                    <span>Ara Toplam</span>
                    <span>1.697 TL</span>
                </div>
                <div class="ec-summary-row">
                    <span>Kargo</span>
                    <span class="text-success">Ücretsiz</span>
                </div>
                <hr>
                <div class="ec-summary-total">
                    <span>Toplam</span>
                    <span>1.697 TL</span>
                </div>
                <button class="ec-checkout">Ödemeye Geç</button>
            </div>
        </div>
    </div>
</div>