@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-4">
    @await Component.InvokeAsync("Coursel")
</div>


<div class="container mt-4">
    @await Component.InvokeAsync(name: "PopulerCards")
</div>
