    .form-control,
    .form-select {
        border: 1px solid #9ca3af;
        /* gray */
        border-radius: 8px;
        padding: 10px;
        transition: 0.2s;
    }

    .form-control:focus,
    .form-select:focus {
        border-color: #2563eb;
        box-shadow: 0 0 0 0.15rem rgba(37, 99, 235, 0.15);
    }

    .form-label {
        font-weight: 500;
        margin-bottom: 4px;
    }

    .form-check-input {
        width: 18px;
        height: 18px;
        border: 1px solid #9ca3af;
        cursor: pointer;
    }

    .form-title {
        margin-bottom: 20px;
        border-bottom: 1px solid #e5e7eb;
        padding-bottom: 10px;
    }

    .form-switch .form-check-input {
        width: 40px;
        height: 20px;
        cursor: pointer;
    }

    .form-switch .form-check-input:checked {
        background-color: #22c55e;
        /* yeşil */
        border-color: #22c55e;
    }

    .form-switch .form-check-label {
        font-weight: 500;
    }


    .section-title {
        margin-top: 25px;
        margin-bottom: 10px;
        font-weight: 600;
    }

    /* IMAGE */
    .image-upload-box {
        border: 2px dashed #d1d5db;
        border-radius: 10px;
        padding: 20px;
        text-align: center;
        cursor: pointer;
    }

    .preview-container {
        margin-top: 0px;

    }

    .img-preview {
        border: 1px solid #e5e7eb;
        border-radius: 10px;
        padding: 5px;

    }

    .img-preview img {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 6px;
    }

    .img-actions {
        margin-top: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .img-preview.active {
        border: 2px solid #22c55e;
    }