<footer class="ec-footer mt-5">
    <div class="container">
        <div class="row">

            <!-- KURUMSAL -->
            <div class="col-md-3">
                <h6>Kurumsal</h6>
                <ul>
                    <li><a href="#">Hakkımızda</a></li>
                    <li><a href="#">Kariyer</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">İletişim</a></li>
                </ul>
            </div>

            <!-- MÜŞTERİ -->
            <div class="col-md-3">
                <h6>Müşteri Hizmetleri</h6>
                <ul>
                    <li><a href="#">Sıkça Sorulan Sorular</a></li>
                    <li><a href="#">İade & Değişim</a></li>
                    <li><a href="#">Kargo Takibi</a></li>
                    <li><a href="#">Yardım Merkezi</a></li>
                </ul>
            </div>

            <!-- KATEGORİ -->
            <div class="col-md-3">
                <h6>Kategoriler</h6>
                <ul>
                    <li><a href="#">Kadın</a></li>
                    <li><a href="#">Erkek</a></li>
                    <li><a href="#">Elektronik</a></li>
                    <li><a href="#">Ev & Yaşam</a></li>
                </ul>
            </div>

            <!-- BÜLTEN + SOSYAL -->
            <div class="col-md-3">
                <h6>Bülten</h6>
                <p>Yeni ürün ve kampanyalardan haberdar olun</p>

                <div class="ec-newsletter">
                    <input type="email" placeholder="Email giriniz">
                    <button>Abone Ol</button>
                </div>

                <!-- SOSYAL MEDYA -->
                <div class="ec-social mt-3">
                    <a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="instagram"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="twitter"><i class="fab fa-x-twitter"></i></a>
                    <a href="#" class="youtube"><i class="fab fa-youtube"></i></a>
                </div>
            </div>

        </div>

        <div class="ec-footer-bottom mt-4">
            © 2026 Tüm Hakları Saklıdır | E-Ticaret Projesi
        </div>
    </div>
</footer>